#isso-thread {
  margin: auto;
  padding: 0 15px 15px 15px;
  text-align: left;
  text-transform: none;
  width: 100%;
}
#isso-thread label small{
  color: #aaa;
  font-weight: normal;
}
#isso-thread p {
  margin-bottom: 0.4em;
}
#isso-thread label {
  color: #7A7A7A;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
}
#isso-thread .isso-comment .isso-postbox input,
#isso-thread .isso-comment label {
  font-size: 1em;
}
main #isso-thread > h4 {
  display: none;
}
h4.comment {
  border-top: 1px solid #CCC;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.8em;
  padding-top: 40px;
  text-transform: uppercase;
}
#isso-thread .isso-postbox input {
  border: 1px solid #CCC;
  border-radius: 0;
  font-size: 0.8em;
}
#isso-thread .isso-postbox {
  max-width: 68em;
  margin: 0;
  width: 50%;
}
#isso-thread .isso-postbox > .form-wrapper {
  padding: 0;
}
#isso-thread .isso-postbox > .form-wrapper > .textarea-wrapper {
  display: block;
}
#isso-thread .isso-postbox > .form-wrapper > .auth-section {
  display: block;
  height: 40px;
}
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action {
  display: block;
  float: right;
}
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action input {
  background-color: #eee;
  width: 150px;
}
#isso-thread .isso-postbox > .form-wrapper .textarea {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 0;
  font-size: 0.8em;
  margin: 0 0 .3em;
  min-height: 150px;
  min-width: 260px;
  padding: .4em .8em;
  width: 100%;
}
#isso-thread .author {
  font-weight: bold;
}
#isso-thread .isso-comment {
  font-family: "Open Sans",sans-serif;
  font-size: 0.73em;
  font-style: normal;
  line-height: 1.7em;
  margin-top: 15px;
  text-align: justify;
}
#isso-thread .isso-comment small {
  display: block;
  margin-top: -5px;
}
#isso-thread .isso-follow-up .isso-comment {
  border-top: 1px solid #ccc;
  font-size: 1em;
  margin-left: 6em;
  padding-top: 15px;
}
.isso-follow-up .isso-follow-up {
  border-bottom: 0;
}
.isso-follow-up {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}
#isso-thread .reply {
  color: #aaa;
  font-style: italic;
}
#isso-thread .isso-comment .votes {
  display: none;
}

@media only screen and (max-width: 991px) {
  #isso-thread .isso-postbox {
    width: 100%;
  }
  #isso-thread .isso-follow-up .isso-comment {
    margin-left: 3em;
  }
}
.post-content #isso-thread {
  font-size: 1.2em;
}

.isso-highlight .author{
  color: #DAF6DD;
}
